<ul class="list-group w-100 bg-white p-3 mt-5" *ngFor="let elem of todos">
  <li class="lis-group-item d-flex justify-content-between w-100">
    <span>
      <input
        type="checkbox"
        (change)="changeTodoStatus(elem)"
        [checked]="elem.isComplete"
      />
    </span>
    <span [ngClass]="{ todocomplete: elem.isComplete }">
      {{ elem.title | uppercase }}
    </span>
    <span [ngClass]="{ todocomplete: elem.isComplete }">
      {{ elem.date | date }}
    </span>
    <span>
      <fa-icon [icon]="faTrashAlt" (click)="deleteTodo(elem)"></fa-icon>
    </span>
  </li>
</ul>
